.contact {
    background-image: url(../../assets/pexels-wendy-wei-1916821.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;

}

.contact h2 {
    color: #fff;
    margin: 100px;
    font-size: 50px;
    padding-top: 100px;
}

.contact p {
    color: #fff;
    margin: 30px;
    margin-top: -80px;
    margin-bottom: 60px;
    margin-left: 100px;
    font-size: 19px;
}

.group {
    position: relative;
    margin-left: 100px;
}

.input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus~label,
.input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.bar {
    position: relative;
    display: block;
    width: 200px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.submit-btn{
    margin-left: 100px;
    margin-top: 20px;
    width: 200px;
    text-align: center;
    border: 1px solid #999;
    /* height: 35px; */
    padding: 20px;
}

.submit-btn input{
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

.submit-btn:hover{
    background-color: #fff;
    color: #515151;
}
