img{
    width: 80%;
    height: 80%;
}

.latest-album__title{
    text-align: center;
    margin-top: 30px;
}

.latest-album__title h3{
    font-size: 2em;
    font-weight: bold;
}


.album-line{
    border-bottom: 1px solid rgb(255, 62, 62);
    width: 10%;
    margin-top: 20px;
    margin-left: 565px;
}

.album{
    /* margin: 50px 200px; */
    margin: 100px;
    /* border: 1px solid red;  */
    display: flex;
    justify-content: space-between;
}

.album-cover{
    margin: 20px;
}

.album-cover p{
    text-align: center;
    margin: 5px;
    margin-bottom: 10px;
}

.album-cover__image{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.album-songs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    font-size: 15px;
    /* border: 1px solid red; */
    width: 160%;
}

.album-song__song-item{
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    text-align: left;
    flex-direction: row;
    gap: 80px;
}

.album-songs__content{
    margin-right: 70px;
}

.album-songs__content p{
    font-size: 14px;
}

.song-item__icon{
    flex: 1.236;
}

.album-cover__content{
    text-align: center;
    margin: 20px;
    /* font-size: 30px; */
}

.album-cover__content h4{
    font-size: 20px;
    font-weight: bold;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-cover__btn{
    background: none;
    outline: none;
    border: none;
    background-color: #000;
    width: 25%;
    height: 35px;
    color: #fff;
}

.links{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

.links a{
    color: #000;
    font-size: 15px;
}

.bottom-line{
    border: 1px solid #6a6767;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}
